{% extends 'layout.html.twig' %}

{% block title %}{{ 'page.login.title'|trans }}{% endblock %}

{% block body %}
    <div id="register-container" class="col-12 small-container">

    </div>
{% endblock %}