{% extends 'layout.html.twig' %}

{% block body %}
    <div id="choice-container" class="col-12 small-container">
        <div class="col-12 col-sm-12 col-md-10 col-lg-6 bg-light py-5 rounded-1 d-flex flex-column align-items-center">
            <a href="{{ path('app_login') }}" class="btn btn-lg btn-primary mb-4 w-75">
                {{ 'page.choice.login'|trans }}
            </a>
            <a class="btn btn-lg btn-primary mb-4 w-75">
                {{ 'page.choice.register'|trans }}
            </a>
        </div>
    </div>
{% endblock %}