{% extends 'layout.html.twig' %}

{% block body %}
    <div id="homepage-container" class="col-12 small-container">
        <a class="btn btn-lg btn-primary mt-3 w-50">
            {{ 'login'|trans }}
        </a>
        <a class="btn btn-lg btn-primary mt-3 w-50">
            {{ 'Continue as guest'|trans }}
        </a>
    </div>
{% endblock %}