{% extends 'layout.html.twig' %}

{% block title %}{{ 'page.info.title'|trans }}{% endblock %}

{% block body %}
    <div id="info-container">
        <h3>{{ 'page.info.header'|trans }}</h3>
        <p>
            Hej! Mam nadziej, 偶e dobrze si bawisz. Dzikuj bardzo za wsparcie mojego projektu.
            Pewnie zastanawiasz si po co to wszytko, jaki ma cel oraz co ja z tym robi. Zapraszam!
        </p>

        <div class="accordion" id="info-panel">
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-1-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-1-body" aria-expanded="false" aria-controls="news-1-body">
                        Co to za projekt?
                    </button>
                </h4>
                <div id="news-1-body" class="accordion-collapse collapse" aria-labelledby="news-1-header">
                    <div class="accordion-body">
                        Projekt powsta jako aplikacja do gromadzenia danych potrzebnych do bada w pracy magisterskiej.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-2-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-2-body" aria-expanded="false" aria-controls="news-2-body">
                        Kiedy dane s zbierane? Jak je wykorzystuj?
                    </button>
                </h4>
                <div id="news-2-body" class="accordion-collapse collapse" aria-labelledby="news-2-header">
                    <div class="accordion-body">
                        <p>
                            Dane s zbierane w trakcie ka偶dej pojedynczej rozgrywki. Zapisywane s one dopiero po zakoczeniu rozgrywki, czyli wywietleniu napisu "Game Over" 
                            Dane zbierane s co 1 sekund oraz dodatkowo przy wystpieniu poni偶szych akcji, czyli:
                            <ul>
                                <li>kliknicie w kwadrat,</li>
                                <li>kliknicie obok kwadratu (chybienie),</li>
                                <li>wypadnicie kwadratu poza map w d贸.</li>
                            </ul>
                        </p>
                        <p>
                            Dane zostan wykorzystane do odtworzenia rozgrywek oraz zbadania, jak czsto zmienia si zachowanie rozgrywajcego przy pewnych zao偶eniach.
                        </p>
                        <p>
                            Zao偶eniami tymi mog by przekroczenie aktualnego rekordu przy ustalonej liczbie punkt贸w zdrowia oraz czasie rozgrywki.
                            Mo偶e to zosta wykorzystane do zbadania zachowania lub zbadania jak zmienia si celno w okresie czasu po przekroczeniu aktualnego rekordu do zakoczenia rozgrywki w stosunku do przedziau czasowego do momentu przekroczenia rekordowego progu punktowego.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-3-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-3-body" aria-expanded="false" aria-controls="news-3-body">
                        Jakie konkretnie dane s wykorzystywane?
                    </button>
                </h4>
                <div id="news-3-body" class="accordion-collapse collapse" aria-labelledby="news-3-header">
                    <div class="accordion-body">
                        Poni偶ej szczeg贸owe przedstawienie wszystkich zbieranych danych:
                        <ul>
                            <li>aktualny wynik</li>
                            <li>aktualny czas gry</li>
                            <li>liczba punkt贸w zdrowia</li>
                            <li>
                                informacje o poszczeg贸lnych kwadratach, czyli
                                <ul>
                                    <li>aktualne poo偶enie</li>
                                    <li>rozmiar</li>
                                    <li>prdko</li>
                                    <li>liczba punkt贸w</li>
                                    <li>kolor</li>
                                    <li>czy zosta kliknity</li>
                                    <li>czy wyszed poza plansz</li>
                                    <li>czy kwardat wyszed spoza g贸rnej granicy jego tworzenia</li>
                                    <li>czy jest w trakcie wychodzenia poza plansz</li>
                                </ul>
                            </li>
                            <li>czna liczba strza贸w</li>
                            <li>liczba celnych strza贸w</li>
                            <li>aktualny dodatkowy modyfikator prdkoci generowanych kwadrat贸w</li>
                            <li>maksymalna liczba kwadrat贸w</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-4-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-4-body" aria-expanded="false" aria-controls="news-4-body">
                        Skd mam mie pewno, 偶e moje dane s anonimowe i nie zostan ze mn powizane?
                    </button>
                </h4>
                <div id="news-4-body" class="accordion-collapse collapse" aria-labelledby="news-4-header">
                    <div class="accordion-body">
                        Aplikacja nie przechowuje 偶adnych wra偶liwych danych, typu adres email czy numer telefonu.
                        Dodatkowo nazwy u偶ytkownik贸w s generowane losowo, wic nie ma mo偶liwoci na powizanie konkretnego u偶ytkownika z dan osob.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-5-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-5-body" aria-expanded="false" aria-controls="news-5-body">
                        Dlaczego nie mog sam wpisa nazwy u偶ytkownika przy tworzeniu konta?
                    </button>
                </h4>
                <div id="news-5-body" class="accordion-collapse collapse" aria-labelledby="news-5-header">
                    <div class="accordion-body">
                        Aby unikn rozpisywania si na wiele stron o polityce prywatnoci, spenieniu RODO i spraw powizanych nie mo偶esz poda wasnej nazwy u偶ytkownika.
                        Zapobiega to mo偶liwoci powizania twojego konta oraz nazwy u偶ytkownika z tob.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-6-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-6-body" aria-expanded="false" aria-controls="news-6-body">
                        Dlaczego nie podaje si hasa przy tworzeniu konta?
                    </button>
                </h4>
                <div id="news-6-body" class="accordion-collapse collapse" aria-labelledby="news-6-header">
                    <div class="accordion-body">
                        Poniewa偶 wystarczajce jest zapamitanie nazwy u偶ytkownika. Nie powinien jej zna nikt poza tob, tak samo jest z hasami.
                        Aplikacja nie przechowuje danych wra偶liwych, takich jak konwersacje, adresy email itd.
                        Z tego powodu wystarczajca jest nazwa u偶ytkownika.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-9-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-9-body" aria-expanded="false" aria-controls="news-9-body">
                        Jakie s wymagania systemowe gry?
                    </button>
                </h4>
                <div id="news-9-body" class="accordion-collapse collapse" aria-labelledby="news-9-header">
                    <div class="accordion-body">
                        <p>
                            Wymaganiem jest aktualnie wspierana przegldarka, czyli Internet Explorer nie jest wspierany 
                            Dodatkowo gra zostaa stworzona z myl o komputerach i wymaga rozdzielczoci przynajmniej 800x600 pikseli, poniewa偶 tak du偶e jest okno gry.
                        </p>
                        <p>
                            Dlaczego nie wspiera ona smartfon贸w? Problemem jest podejcie do badania.
                            Z zao偶enia ka偶dy potrafi korzysta z myszki, jedni sprawniej, inni mniej.
                            Okno o podanych rozmiarach mniej wicej wyr贸wnuje szanse, podczas kiedy telefony maj r贸偶ne rozdzielczoci ekran贸w.
                        </p>
                        <p>
                            Czy powstanie kiedy wersja mobilna? By mo偶e, na potrzeby badania przewidziana jest jedynie wersja desktopowa. Po zakoczeniu pracy postaram si rozwin stron na wersje mobilne oraz stworzy aplikacj mobiln.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-7-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-7-body" aria-expanded="false" aria-controls="news-7-body">
                        Jakie s zasady gry?
                    </button>
                </h4>
                <div id="news-7-body" class="accordion-collapse collapse" aria-labelledby="news-7-header">
                    <div class="accordion-body">
                        <p>
                            Gra polega na klikaniu w spadajce kwadraty. S one generowane r贸偶nej wielkoci oraz w jednym z wylosowanych kolor贸w.
                            Maj one wylosowan r贸偶n warto prdkoci spadania.
                        </p>
                        <p>
                            Im szybszy kwadrat tym wicej punkt贸w za niego dostaniesz, poniewa偶 trudniej go trafi od wolniejszego.
                            Im mniejszy kwadrat tym wicej punkt贸w za niego dostaniesz, poniewa偶 trudniej go trafi od wikszego.
                            Generowanie kwadrat贸w jest zawsze losowe, wic czasem mo偶esz trafia na wicej mniejszych kwadrat贸w, czasem wicej na wiksze.
                        </p>
                        <p>
                            Gdy kwadrat wypadnie cakowicie poza map tracisz jeden punkt zdrowia. Punkt贸w zdrowia masz cznie 3 i nie ma mo偶liwoci ich odzyska w trakcie pojedynczej rozgrywki.<br>
                            Mo偶esz klikn w kwadrat o ile go widzisz, nawet ten, kt贸ry do znajduje si cakowicie na planszy (wypada poza ni lub dopiero si generuje).
                        </p>
                        <p>
                            Wraz z upywem czasu zwiksza si poziom trudnoci.<br>
                            Co 10 sekund zwiksza si minimalny i maksymalny zakres prdkoci spadania kwadratu do wylosowania. Dotyczy to jedynie kwadrat贸w nowo generowanych. Kwadraty istniejce na mapie pozostan niezmienione.<br>
                            Co 20 sekund zwiksza si maksymalna liczba kwadrat贸w, kt贸re mog znajdowa si jednoczenie na planszy.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-8-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-8-body" aria-expanded="false" aria-controls="news-8-body">
                        O czym jest twoja praca dyplomowa?
                    </button>
                </h4>
                <div id="news-8-body" class="accordion-collapse collapse" aria-labelledby="news-8-header">
                    <div class="accordion-body">
                        <p>
                            Dokadny tytu brzmi "Badanie przyczyn podejmowanych decyzji na przykadzie gry komputerowej".
                            Zamierzam przy pomocy danych zgromadzonych dziki tej aplikacji dokona ich analizy i wysun wnioski wskazujc na konkretne przyczyny podejmowanych w danej sytuacji decyzji.
                        </p>
                        <p>
                            Przykad: przekroczenie aktualnego rekordu przy ustalonej liczbie punkt贸w zdrowia oraz czasie rozgrywki.
                            Mo偶e to zosta wykorzystane do zbadania zachowania lub zbadania jak zmienia si celno w okresie czasu po przekroczeniu aktualnego rekordu do zakoczenia rozgrywki w stosunku do przedziau czasowego do momentu przekroczenia rekordowego progu punktowego.
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h4 class="accordion-header" id="news-10-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#news-10-body" aria-expanded="false" aria-controls="news-10-body">
                        Mo偶e i fajna ta strona z gr, ale troch uboga. Co dalej?
                    </button>
                </h4>
                <div id="news-10-body" class="accordion-collapse collapse" aria-labelledby="news-10-header">
                    <div class="accordion-body">
                        <p>
                            Do zgromadzenia danych do badania przy okrelonych zao偶eniach nie jest potrzebna mega wsp贸czesna aplikacja.
                            Ale rozumiem o co chodzi.
                            Wraz z upywem czasu bd dodawa nowe funkcjonalnoci, takie jak tablica statystyk, historia rozegranych rozgrywek.
                        </p>
                        <p>
                            Po zakoczeniu pisania pracy dyplomowej, je偶eli zostanie wena, to zostanie rozwinite UI/UX.
                            Powstanie tak偶e wersja mobilna strony wraz z aplikacj mobiln.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}