{% extends 'layout.html.twig' %}

{% block title %}{{ 'page.initialSurvey.new.title'|trans }}{% endblock %}

{% block main %}
    <div id="initial-survey-new-container">
        {% include 'component/flashes.html.twig' %}

        <h1>{{ 'Game page'|trans }}</h1>
        <p class="d-none">{{ 'Game description bla bla'|trans }}</p>

        <div id="game_app"></div>


    </div>
{% endblock %}