$aside_background: #0261af;
$aside_color: #fff;
$aside_active_element: #ffffff;
$aside_active_color: #0261af;
$aside_current_element: #fff981;
$aside_current_color: #0261af;

$form_label_required_color: #e15757;
$form_background_color: #ffffff;