@import "./../theme/palette";

.user-aside {
  min-width: 20%;
  max-width: 20%;
  height: 100vh;
  background-color: $aside_background;

  li.mb-1 {
    a, button {
      color: $aside_color;
      font-weight: bold;
      font-size: 1.3em;
      padding: 1em;
      text-align: left;
      width: 100%;
      border-radius: 0;

      &.active {
        background-color: $aside_active_element;
        color: $aside_active_color;
      }

      &.current {
        background-color: $aside_current_element;
        color: $aside_current_color;
      }
    }

    a:focus, button:focus {
      box-shadow: none;
      background-color: $aside_active_element;
      color: $aside_active_color;
    }

    div {
      li {
        padding: 0 1em;

        &.current {
          background-color: $aside_current_element;
        }

        a {
          padding-right: 0;

          &.current {
            color: $aside_current_color;
          }

          &:focus {
            box-shadow: none;
            background-color: transparent;
          }
        }

        &:focus-within {
          background-color: $aside_active_element;
          color: $aside_active_color;
        }
      }
    }
  }
}