{% for message in app.flashes('info') %}
    <div class="alert alert-info" role="alert">
        <i class="fa-solid fa-circle-info"></i> {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('warning') %}
    <div class="alert alert-warning" role="alert">
        <i class="fa-solid fa-triangle-exclamation"></i> {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('danger') %}
    <div class="alert alert-danger" role="alert">
        <i class="fa-solid fa-triangle-exclamation"></i> {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
        <i class="fa-solid fa-circle-check"></i> {{ message }}
    </div>
{% endfor %}