<div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
    <i class="fa-solid fa-circle-check me-3"></i>
    <span>{{ message|raw }}</span>

    {% if close is defined and close %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'alert.close'|trans }}"></button>
    {% endif %}
</div>