.game-window {
  background-color: #ffffff;
  position: relative;
  border-radius: 3px;
  overflow: hidden;

  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.game-window-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-button {
  position: absolute;
  bottom: 25%;
}
