.hp-container {
  position: relative;
  padding-top: 0.3em;
  margin-left: -3em;
}

.hp-empty-container, .hp-full-container {
  position: absolute;
  display: flex;
  gap: 0.2em;
}

.heart-full {
  color: #bb2d3b;
  transition: transform 0.3s linear;
  transform: scale(0, 1);
}
