.hud-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: lightblue;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
  font-size: 1.2rem;
}

.score-container, .time-container {
  flex: 33%;
}
