{% extends 'layout.html.twig' %}

{% block body %}
    <div class="panel-dashboard">
        {% include 'component/alert/info.html.twig' with {
            'message': 'page.dashboard.userNameReminder'|trans({'%username%': app.user.username})
        } %}

        {% include 'component/flashes.html.twig' %}

        <div class="d-flex align-items-center">
            <h3>{{ 'nav.creatorNews'|trans }}</h3>
            <span id="load-more-spinner" class="spinner-grow spinner-grow-sm text-success d-none ms-2" role="status">
                <span class="visually-hidden">Loading...</span>
            </span>
        </div>

        <div class="accordion" id="news-panel">

        </div>

        <div class="d-flex justify-content-center mt-3">
            <button type="button" class="btn btn-primary" id="news-load-button">Load more</button>
        </div>

    </div>
{% endblock %}