{% extends 'layout.html.twig' %}

{% block body %}
    <div class="panel-dashboard">
        {% include 'component/alert/info.html.twig' with {
            'message': 'page.dashboard.userNameReminder'|trans({'%username%': app.user.username})
        } %}

        {% include 'component/flashes.html.twig' %}

        <div>
            <div class="d-flex align-items-center">
                <h3>{{ 'nav.creatorNews'|trans }}</h3>
                <span id="load-more-spinner" class="spinner-grow spinner-grow-sm text-success d-none ms-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
            </div>

            <div class="accordion" id="news-panel">

            </div>

            <div class="d-flex justify-content-center mt-3">
                <button type="button" class="btn btn-primary" id="news-load-button">Load more</button>
            </div>
        </div>

        <hr>

        <div>
            <h3>Last game</h3>
            <p>Coming soon..</p>
        </div>

        <hr>

        <div>
            <h3>Statistics</h3>

            <div class="d-flex mb-4 gap-4">
                <div class="statistic-card">
                    <span class="title">Max score</span>
                    <div class="results fw-bold">
                        {{ maxScore|number_format(2) }}
                    </div>
                </div>
                <div class="statistic-card">
                    <span class="title">Max Time (s)</span>
                    <div class="results fs-5 fw-bold">
                        {{ maxTime }}
                    </div>
                </div>
            </div>
            <p>More coming soon..</p>
        </div>

    </div>
{% endblock %}