{% extends 'layout_user.html.twig' %}

{% block body %}
    <div class="panel-dashboard">
        {% include 'component/alert.html.twig' %}

        <i class="fa-solid fa-gauge-low"></i> dashboard
    </div>
{% endblock %}